<h1>HELP!!</h1>

<div>
	<label>How to search for <b>movie theatres</b></label>
	<p>The format for searching for a movie title is <b>City, State</b></p>
	<br>
	<label>Location not found error</label>
	<p>The gem which aids the search function used for this application
	   Wasn't created by the :UED team.<br> There may be issues with certain
	   locations. If for some reason a location cannot be found please let us know</p>
</div>