<h1>HELP!!</h1>

<div>
	<h3>How to search for <b>movie theatres</b></h3>
	<p>The format for searching for a movie title is <b>City, State</b></p>
	<br>
	<h3>Encountered an <b>Error</b> while searching</h3>
	<p>This may or may not happen from time to time (I hope this doesn't though),
	   but this project is still in its beta stage. There are still some bugs to
	   work out. The large majority will be discovered by you the user. If you 
	   encounter any errors while using this app please contact me at
	   <%= mail_to "ksotello@uncc.edu" %></p>
	<br>
	<h3>When will new version be released?</h3>
	<p>This app will be updated weekly and in some cases nightly depending on the
	   update or the issue.</p>
	<br>
	<h3>Wrong movie or showtime listings</h3>
	<p>Although I do hope this does not happen, it unfortunately could. If this issue
	   does for whatever reason come up please let me know</p>
	<br>
	<h3>Movie listings is either showing the wrong listings or no listings</h3>
	<p>This application relies on a gem that filters out movie information that 
	   makes it possible to filter the information straight to you. If for whatever
	   reason you encounter this error please let me know. I am currently in the 
	   process of making my own "gems" specifically for this page.</p>
	<br>
	<h3>Planned features</h3>
	<p>So far not much is planned in the pipeline other than fine tuning this
	   application for the moment. Once I start making updates they will be listed
	   in the <b>CHANGELOG</b> link provided in the header of this page</p>
</div>