<div class="center hero-unit">
	<h1>Enter the City, State</h1>
	<%= form_tag searches_result_path, :method => 'get' do %>
  		<%= text_field_tag :search, params[:search] %>
  		<%= submit_tag 'Search for Theatre', :name => nil %>
  	<% end %>
</div>
