<h1>Movie listings for <%= flash[:notice] %></h1>
<div>
	<% @locations.each do |theatre| %>
	<% if flash[:notice] == theatre[1].fetch(:name) %>
		<% theatre[1].fetch(:movies).split()[0].each do |name| %>
			<h2><%= link_to name.fetch(:name), searches_movie_info_path(:name => name.fetch(:name)) %></h2>
		<% end %>
	<% end %>
<% end %>
</div>