<h1>Theatre Listings for <%= flash[:notice] %></h1>
<div>
	<% @locations.each do |theatre| %>
		<h2><%= link_to theatre[1].fetch(:name), searches_info_path(:name => theatre[1].fetch(:name))  %></h2>
		<h2><%= theatre[1].fetch(:info) %></h2>
	<% end %>
</div>
<div>
	<%= link_to 'Back to Search Page', searches_index_path %>
</div>