<footer class="footer">
  <small>
    Theatre Search App brought to you by Kyle Sotello
  </small>
  <nav>
    <ul>
      <li><%= mail_to "Contact", 'ksotello@uncc.edu' %></li>
    </ul>
  </nav>
</footer>