<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "theatre search app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",         searches_index_path %></li>
          <li><%= link_to "Help",         searches_help_path %></li>
          <li><%= link_to "CHANGELOG",    '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>